In [1]:

#파이썬 환율
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

df = pd.DataFrame(columns=['country_name',
                           'buying_cost',
                           'bfee_ratio','selling_cost',
                           'slfee_ratio',
                           'sending_cost',
                           'sefee_ratio',
                           'dealing_br'])

pd.DataFrame(columns=['Region','Rate'])
html = urlopen("https://www.mibank.me/exchange/bank/index.php?search_code=005") # 하나은행
soup = BeautifulSoup(html, 'html.parser') # 홈페이지 크롤링

country_name        = soup.select('tbody > tr > td.first > a')
buying_cost         = soup.select('tbody > tr > td:nth-child(3)')
bfee_ratio          = soup.select('tbody > tr > td:nth-child(4)')
selling_cost        = soup.select('tbody > tr > td:nth-child(5)')
slfee_ratio         = soup.select('tbody > tr > td:nth-child(6)')
sending_cost        = soup.select('tbody > tr > td:nth-child(7)')
sefee_ratio         = soup.select('tbody > tr > td:nth-child(8)')
dealing_br          = soup.select('tbody > tr > td:nth-child(9)')

for i in range(0, len(country_name)):
    df2 = pd.DataFrame({'country_name':[country_name[i].text],
                        'buying_cost':[buying_cost[i].text],
                        'bfee_ratio':[bfee_ratio[i].text.replace("%","",1)],
                        'selling_cost':[selling_cost[i].text],
                        'slfee_ratio':[slfee_ratio[i].text[:-1]],
                        'sending_cost':[sending_cost[i].text],
                        'sefee_ratio':[sefee_ratio[i].text[:-1]],
                        'dealing_br':[dealing_br[i].text]
                      })
    
    df = df.append(df2)
    df.to_excel(excel_writer='sample.xlsx') 

df

,country_name,buying_cost,bfee_ratio,selling_cost,slfee_ratio,sending_cost,sefee_ratio,dealing_br
0,중국,180.63,5.00,163.43,5.00,173.75,1.00,172.03
0,일본,1039.95,1.75,1004.19,1.75,1032.08,0.98,1022.07
0,미국,1152.01,1.75,1112.39,1.75,1143.20,0.97,1132.20
0,유럽연합,1353.45,1.99,1300.65,1.99,1340.32,1.00,1327.05
0,홍콩,148.49,1.96,142.77,1.96,147.08,1.00,145.63
0,대만,44.82,13.10,36.86,6.99,-,,39.63
0,싱가폴,857.41,1.99,823.97,1.99,849.09,1.00,840.69
0,태국,37.96,4.98,34.00,5.97,36.52,1.00,36.16
0,필리핀,25.63,10.00,21.39,8.20,23.53,0.99,23.30
0,베트남,5.48,11.61,4.34,11.61,4.95,0.81,4.91
0,영국,1588.36,1.97,1527.00,1.97,1573.25,1.00,1557.68
0,호주,871.01,1.97,837.37,1.97,862.73,1.00,854.19
0,캐나다,916.78,1.97,881.36,1.97,908.06,1.00,899.07
0,브라질,221.49,10.20,184.92,8.00,-,,200.99
0,칠레,1.69,7.64,1.45,7.64,-,,1.57
0,멕시코,60.89,9.99,50.71,8.40,55.91,0.99,55.36
0,뉴질랜드,802.84,1.97,771.82,1.97,795.20,1.00,787.33
0,인도네시아,8.34,6.92,7.02,10.00,7.87,0.90,7.80
0,말레이시아,290.17,6.30,252.78,7.40,-,,272.98
0,터키,-,-,-,,138.41,1.10,136.91
0,인도,-,-,-,,-,,15.42
0,몽골,-,-,-,,-,,0.40
0,이스라엘,372.98,10.00,311.96,8.00,-,,339.08
0,사우디,320.90,6.30,281.06,6.90,304.90,1.00,301.89
0,쿠웨이트,3988.46,6.50,3445.44,8.00,3782.49,1.00,3745.04
0,바레인,3195.12,6.40,2762.71,8.00,3032.96,1.00,3002.94
0,U.A.E,325.19,5.50,286.98,6.90,311.32,1.00,308.24
0,카자흐스탄,-,-,-,,-,,2.65
0,카타르,-,-,-,,-,,310.87
0,파키스탄,-,-,-,,-,,7.41
0,방글라데시,-,-,-,,-,,13.35
0,브루나이,874.31,4.00,790.25,6.00,-,,840.69
0,오만,3202.50,8.90,2764.34,6.00,-,,2940.78
0,요르단,1739.02,8.90,1469.15,8.00,-,,1596.90
0,스위스,1221.57,1.97,1174.37,1.97,1209.94,1.00,1197.97
0,러시아,16.00,6.95,13.32,10.96,15.10,0.94,14.96
0,스웨덴,132.51,2.44,126.19,2.44,130.64,1.00,129.35
0,덴마크,182.80,2.45,174.06,2.45,180.21,1.00,178.43
0,노르웨이,135.30,2.45,128.84,2.45,133.39,1.00,132.07
0,헝가리,4.01,9.26,3.38,7.90,3.71,1.09,3.67
0,체코,55.13,8.48,46.25,8.99,51.37,1.08,50.82
0,폴란드,309.24,8.00,263.44,8.00,289.48,1.10,286.34
0,남아공,81.12,6.00,70.41,8.00,77.44,1.19,76.53
0,이집트,-,-,-,,-,,72.05